body {
    text-align: center;
    background-color: linear-gradient ( #fce703 0%,#03fcf0 100%);
    font-family: 'Comic Neue', cursive;
}

p {
    margin-right: 400px;
    margin-left: 400px;
}

h1 {
    text-shadow: 2px 2px #F8BBDO;
}

img {
    border-radius: 50%;
    width: 100px;
}
ul {}